# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*
.*

# You can whitelist files/folders with !, these will not be ignored.
!docker-compose.yml
!.gitignore
!.dockerignore
!README.md
!LICENSE
!.travis.yml
!/homeassistant
!/root/
!/root/**
!/scripts/
!/scripts/**
!/setup/
!/setup/**
