[Unit]
Description = /gmedia MergerFS mount
PartOf=gmedia.service
After=gmedia-rclone.service
RequiresMountsFor=/local-media

[Mount]
What = /local-decrypt:/cloud-decrypt
Where = /local-media
Type = fuse.mergerfs
Options = defaults,sync_read,allow_other,category.action=all,category.create=ff

[Install]
WantedBy=gmedia.service
